.blanc{
	background-color:white;
}

.noir{
	background-color:grey;
}

.vert{
	background-color:lime;
}

td{
	width:40px;
	height:40px;
	border:solid 1px red;
	margin:0px;
}

#plateau{
	padding:20px;
	background-color:bisque;
	width: 360px;
	margin: auto;
	border-radius:15px;
}

#plateau img{
	height: 36px;
	width:36px;
}

#echiquier{
	border: solid 2px red;
}

